body{
   
   justify-content: center;
   display: flex;
   background: linear-gradient(130deg, rgb(143, 143, 18), black 100%);

 
   
}
#fst{
    text-align: center;
    
}

#for{

    color: grey;
    justify-content: right;
}

#Password-text{
    display: flex;
    justify-content: space-between;
}

section{
    background-color: white;
    border-radius: 10px;
    padding: 25;
    border: 2px;
    box-shadow: 0px 6px 6px rgb(29, 29, 1);
   
    
    
       
}
#emailtwo{
    border: 1.45px solid yellow;
    width: 300px;
    height: 30px;
    border-radius: 6px;
    justify-content: center;
    display: flex;
    
}

/*#emailtwo{
    border-radius: 6px;
   text-align: center;
   border-color: 1px blue;
   

}*/

#pass{
    border: 1.45px solid yellow;
    width: 300px;
    height: 30px;
    border-radius: 6px;
    display: flex;
    justify-content: space-between;
    


}

h2{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: medium;
}

#logs{
    
   
    width: 300px;
    height: 30px;
    border-radius: 6px;
    color: yellow;
    background-color: black;
    cursor: pointer;
    justify-content: center;
    display: flex;
    border: 1px solid black;
    box-shadow: 0px 6px 6px rgb(42, 42, 3);
   
}

#for{
    cursor: pointer;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: medium;
}

b{
    font-size: x-large;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   
}

#logo{

    box-shadow: 0px 6px 6px rgb(42, 42, 3);
}

#fs{

    color: yellow;
}

h3{

    justify-content: right;
    display: flex;
    font-size: medium;
}

#ref{

    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
    font-size: small;
}

